# Django
DJANGO_SECRET_KEY=your-secret-key-here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*
LINE_CHANNEL_SECRET=
LINE_GROUP_ID=
LINE_CHANNEL_ACCESS_TOKEN=

# Postgres
POSTGRES_DB=splitmate
POSTGRES_USER=splitmate
POSTGRES_PASSWORD=splitmate_password
POSTGRES_HOST=db
POSTGRES_PORT=5432
